.service{
    &.service-one{
        transition: all 0.5s ease;
        &:hover{
            background-color: $primary;
            color: $white; 
            transition: all 0.5s ease;
            i{
                color: $white !important;
            }
            .para {
                color: $white !important;
            }
            a{
                color: $white !important;
            }
        }
    }
    &.service-two {
        transition: all 0.5s ease;
        &:hover{
            background-color: $light !important;
        }
    }
    .content {
        .title{
            &:hover {
                color: $primary !important;
            }
        }
    }
   &.service-three{
    .service-img{
        &:hover{
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
    }
   }
   &.service-four{
    i {
        height: 60px;
        min-width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: rgba($primary, 0.1);
        
    }
   }
   &.service-five{
    .btn{
        background-color: rgba($primary, 0.1);
    }
   }
}









    


































